*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background: white;
    font-size: 2rem;
    font-family: sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #00FF00;
}

.cards{
    max-width: 100%;
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
    gap: 3rem;
    padding: 3rem;   
}

.card{
    list-style: none;
    border: solid 1px black;
    width: 100%;
    border-radius: 1rem;
}

.card1{
    grid-row: 2/12;
    grid-column: 3/15;
    display: flex;
    align-items: center;
}

.card2{
    grid-row: 12/22;
    grid-column:3/15;
}

.card3{
    grid-row: 22/32;
    grid-column:3/15;
}

.card4{
    grid-row: 2/12;
    grid-column: 17/29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card5{
    grid-row: 12/22;
    grid-column:  17/29;
}

.card6{
    grid-row: 22/32;
    grid-column:  17/29;
}

.weer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempratuur{
    display: flex;
    align-items: center;
    justify-content: center;
}

